<div class="main-wrapper">
  <ng-container *ngIf="pageInitialized; else initializing">
    <mat-form-field appearance="outline">
      <mat-label>Input field</mat-label>
  
      <input type="text" matInput [formControl]="inputControl">

      <mat-hint>Min length: 3, max length: 200</mat-hint>

      <mat-error *ngIf="inputControl.hasError('minlength')">
        {{ 'Min length: ' + inputControl.errors?.['minlength']?.requiredLength }}
      </mat-error>

      <mat-error *ngIf="inputControl.hasError('maxlength')">
        {{ 'Max length: ' + inputControl.errors?.['maxlength']?.requiredLength }}
      </mat-error>

      <mat-error *ngIf="inputControl.hasError('whitespace')">
        {{ 'The field must not contain spaces' }}
      </mat-error>
    </mat-form-field>
  
    <button
      mat-raised-button
      color="primary"
      [disabled]="!inputControl.value" (click)="saveStingValue()">
      <span>Save value</span>
    </button>
  </ng-container>

  <span
    *ngIf="error"
    class="error-message"
  >
  </span>
</div>

<ng-template #initializing>
  <span class="initializing">Initializing...</span>
</ng-template>
